@import "@shared/styles/variables";

.card {
  min-width: 200px;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
  background-color: $mainBgColor;
  border: 1px solid $secondaryColor;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

@media (min-width: 768px) {
  .card {
    min-width: 300px;
  }
}
