@import "@shared/styles/variables";
@import "@shared/styles/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  gap: 1em;
  width: 100%;
  padding: 1rem;
  @include setupFlex(center, center);

  a {
    color: $textColor;
    transition: color 0.2s ease;

    &:hover {
      color: $secondaryColor;
    }

    &:not(:last-child)::after {
      content: " | ";
      margin-left: 1em;
      color: $textColor;
    }
  }
}