.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: #ccc;
    }
  }
}